<section id="faq" class="faq-section">
  <div class="container">
    <h2 class="faq-title">Часті питання</h2>
    <div class="accordion-container">
      <div class="ac">
        <h3 class="ac-header">
          <button
            class="ac-trigger min-button"
            type="button"
            aria-expanded="false"
          >
            <span class="icon-arrow-cont">
              <span class="question">Як здійснюється доставка меблів?</span>
              <svg class="icon-arrow" width="32" height="32">
                <use href="./img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми доставляємо замовлення по всій Україні через надійні служби.
            Термін доставки зазвичай складає 3-7 днів залежно від регіону.
          </p>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button" aria-expanded="false">
            <span class="icon-arrow-cont">
              <span class="question">
                Чи є можливість вибрати колір або матеріал?
              </span>
              <svg class="icon-arrow" width="32" height="32">
                <use href="./img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
            доступні опції вказані на сторінці товару.
          </p>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button" aria-expanded="false">
            <span class="icon-arrow-cont">
              <span class="question">
                Чи можна повернути товар, якщо він не підійшов?
              </span>
              <svg class="icon-arrow" width="32" height="32">
                <use href="./img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у
            користуванні та збережений у первинному вигляді.
          </p>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button" aria-expanded="false">
            <span class="icon-arrow-cont">
              <span class="question"
                >Чи надаєте ви послугу збирання меблів?</span
              >

              <svg class="icon-arrow" width="32" height="32">
                <use href="./img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так, під час оформлення замовлення можна обрати послугу збирання.
            Наші майстри зберуть меблі у зручний для вас час.
          </p>
        </div>
      </div>
      <div class="ac">
        <h3 class="ac-header">
          <button
            class="ac-trigger min-button"
            type="button"
            aria-expanded="false"
          >
            <span class="icon-arrow-cont">
              <span class="question">Як здійснити оплату?</span>
              <svg class="icon-arrow" width="32" height="32">
                <use href="./img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ми приймаємо оплату карткою онлайн, банківським переказом або
            післяплатою при отриманні.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
