<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>
    <ul class="js-feedback-cart feedback-cart"></ul>

    
      <div class="button-container">
        <button class="btn-circle js-btn-back">
          <svg class="icon-feedback" width="25" height="25">
            <use href="./img/sprite.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="btn-circle js-btn-forward">
          <svg class="icon-feedback" width="25" height="25">
            <use href="./img/sprite.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
