<footer class="footer">
  <div class="container">
    <div class="screen-footer">
      <div class="logo-footer">
        <a class="logo-footer-link" href="#header">
          <svg class="logo-footer-icon" width="228.5" height="97.93">
            <use
              class="logo-footer-icon-style"
              href="../img/footer/footer-logo.svg"
            ></use>
          </svg>
        </a>
      </div>
      <ul class="nav-footer">
        <li><a class="nav-linck" href="#furniture-list">Наші меблі</a></li>
        <li><a class="nav-linck" href="#about-us">Про нас</a></li>
        <li><a class="nav-linck" href="#faq">Часті питання</a></li>
        <li><a class="nav-linck" href="#feedback">Відгуки</a></li>
      </ul>
      <ul class="social-list">
        <li>
          <a
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.youtube.com/"
          >
            <svg class="social-icon-youtube" width="24" height="24">
              <use href="../img/footer/youtube.svg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/"
          >
            <svg class="social-icon-instagram" width="24" height="24">
              <use href="../img/footer/instagram.svg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.youtube.com/"
          >
            <svg class="social-icon-facebook" width="24" height="24">
              <use href="../img/footer/facebook.svg"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="copyright">&copy; 2025 Relume. Всі права захищені</p>
    </div>
  </div>
</footer>
