<section class="hero-section">
  <div class="hero-bg">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/hero/bg-hero-desktop-min.jpg    1x,
          ./img/hero/bg-hero-desktop-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/bg-hero-tablet-min.jpg    1x,
          ./img/hero/bg-hero-tablet-2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/bg-hero-mobile-min.jpg    1x,
          ./img/hero/bg-hero-mobile-2x-min.jpg 2x
        "
      />
      <img
        class="hero-background-img"
        src="./img/hero/bg-hero-desktop-min.jpg"
        alt="Фонове зображення інтер'єру"
        loading="eager"
      />
    </picture>
    <div class="container">
      <div class="hero-text">
        <h1 class="hero-main-title">Створіть свій ідеальний дім</h1>
        <h3 class="hero-title">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </h3>
      </div>
      <a href="#feedback" class="hero-feedback-btn">Що про нас думають</a>
    </div>
  </div>
</section>
