<div class="order-modal-overlay is-open">
    <div class="order-modal">
        <span class="order-modal-close">&times;</span>
        <h2 class="order-modal-title">Замовити зворотній зв’язок</h2>
        <form class="order-modal-form">
            <div class="order-modal-input-div">
                <label class="lb-input" for="user-email">Email*</label>
                <input
                    class="order-modal-inp"
                    type="email"
                    id="user-email"
                    name="user-email"
                    placeholder="Email"
                />
            </div>
            <div class="order-modal-input-div">
                <label class="lb-input" for="user-phone">Телефон*</label>
                <input
                    class="order-modal-inp"
                    type="tel"
                    id="user-phone"
                    name="user-phone"
                    placeholder="+38 (099) 123 22 11"
                />
            </div>    
            <div class="order-modal-input-div">
                <label class="lb-input" for="user-comment">Коментар</label>
                <textarea
                    class="order-textarea"
                    name="user-comment"
                    placeholder="Type your message..."
                    id="user-comment"
                ></textarea>
            </div>
            <div class="order-modal-btn-div">
                <button class="order-modal-btn" type="submit">Надіслати заявку</button>
            </div>
        </form>
    </div>
</div>