<section class="popular-section">
  <div class="container">
    <h2 class="section-title">Популярні товари</h2>

    <div class="popular-slider-wrapper">
      <button class="slider-btn left" id="btn-left" disabled>
        <svg><use href="./svg/about-us.svg#icon-left-arrow"></use></svg>
      </button>

      <ul class="popular-slider" id="popular-slider"></ul>

      <button class="slider-btn right" id="btn-right">
        <svg><use href="./svg/about-us.svg#icon-right-arrow"></use></svg>
      </button>
    </div>
  </div>
</section>
    