.footer {
  background-color: #6b0609;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  padding-bottom: 32px;
}
.screen-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.logo-footer {
  fill: #ffffff;
}
.nav-footer {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.nav-footer li {
  transition: transform 0.3s ease;
  position: relative; /* для псевдоелементів */
  display: inline-block; /* щоб працювало підкреслення */
}

.nav-footer li:hover,
.nav-footer li:focus-within {
  transform: scale(1.05);
  z-index: 10;
}

.nav-footer li a.nav-linck {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-footer li a.nav-linck::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease, left 0.3s ease;
  border-radius: 2px;
  transform-origin: center;
}

.nav-footer li:hover a.nav-linck::after,
.nav-footer li:focus-within a.nav-linck::after {
  width: 100%;
  left: 0;
}



.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.logo-footer-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #ffffff;
}
.social-icon:hover,
.social-icon:focus {
  fill: #080c09;
}

.copyright {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .nav-footer {
    flex-direction: row;
    justify-content: center;
  }

  .copyright {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-bottom: 0;
  }
  .screen-footer {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .logo-footer {
    order: 1;
  }
  .copyright {
    order: 2;
  }
  .nav-footer {
    order: 3;
  }
  .social-list {
    order: 4;
  }
  
}
